[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
Logs/
Obj/
MemoryCaptures/
UserSettings/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

.DS_Store
Thumbs.db

# Rider/JetBrains
.idea/
*.sln.iml
